footer {
    position: relative; 
    background: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    margin-top: auto;
}
footer p {
    text-align: center; 
    line-height: 30px;
}
    
        